@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 220, 110, 180;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

body {
  @apply bg-blue_violet-200;
  color: rgb(var(--foreground-rgb));
  font-family: 'Dosis', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  @apply w-full h-full p-6 bg-blue_violet-500 rounded-lg shadow-xl shadow-slate-900 overflow-hidden;
}

.navbar-bg {
  @apply bg-blue_violet-800;
}

.hover-colour:hover {
  @apply bg-blue_violet-400;
}

.form-input {
  @apply my-2 px-3 min-w-96 min-h-10 text-black;
}

.form-button {
  @apply my-4 bg-blue_violet-400 w-full min-h-10 hover:bg-blue_violet-300 rounded-lg;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.dosis-font > {
  font-family: 'Dosis', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.navbar-fade-in-left {
  animation: fade-in-left 1s ease-in-out;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
